:root {
    --basic-color: #01AE7E;
    --basic-sand-track-button: #0fc6cf;
    --basic-sand-track-button-active: #13E8F5;
    --basic-text-color: #2E2532;
    --basic-frame-dark: rgba(34, 88, 75, 0.5);
    --basic-frame-light: rgba(158, 218, 196, 0.5);
    --basic-timer: rgba(10, 29, 24, 0.75);
    --basic-yellow: #FCC556;
    --basic-display-scroll: #9EDAC4;
    --basic-display-allview: #22584B;
    --display-social-contact: #BF2742;
    --display-black: #000000;
    --basic-white: #ffffff;
    --basic-track-path: #C3BECB;
}

/* Global */

body {
    min-width: 1456px;
    height: 100%;
    margin: 0px auto;
    padding: 20px 0px 0px 20px;
    font-family: Stem;
}

a {
    text-decoration: none;
}

.page-body {
    background-image: url("../img/background.jpg");
    width: 1456px;
}

.main-header {
    height: 60px;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
}

/* Header */

.main-navigation {
    display: flex;
    justify-content: center;
}

.header-menu {
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-menu li {
    height: 60px;
    list-style-type: none;
    padding: 0 10px 0 0;
}

.icon {
    fill: #0ad199;
}
.icon:hover {
    fill: #FCC556;
}

/* Header Button */

.header-button-text {
    padding-left: 6px;
}
.button {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

.header-button {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 0px;
    padding: 0;
}

.header-button {
    padding-top: 0px;
}

.header-icon {
    height: 20px;
    padding-right: 10px;
    fill:#01AE7E;
}

.header-icon:hover *,
.header-icon:focus * {
    fill: #FCC556;
}

.header-menu a {
    color: var(--basic-color);
    display: inline-block;
    height: 60px;
    font-size: 16px;
    margin-top: 2px;
    line-height: 20px;
    margin-bottom: 16px;
}

.header-menu-text {
    height: 60px;
    vertical-align: middle;
}

.header-button a:hover svg,
.header-button a:focus svg {
    fill: #181261;
}

.svg-header-icon:hover .svg-icon {
    fill: #FCC556;
}
.specification-button {
    width: 120px;
}

.raters-button {
    width: 102px;
}

.prizes-button {
    width: 100px;
}

.history-button {
    width: 206px;
}

.contacts-button {
    width: 140px;
}

.header-button a:hover,
.header-button a:focus {
    font-size: 18px;
    color: var(--basic-yellow);
}

.header-big-button {
    width: 349px;
    height: 60px;
    border-radius: 10px;
    font-size: 22px;
}

.help-button {
    background-color: var(--basic-color);
    margin-right: 20px;
}

.help-button:hover,
.help-button:focus {
    background-color: #0AFFAA;
}

.sand-track-button {
    background-color: var(--basic-sand-track-button);
    margin-left: auto;
}

.sand-track-button:hover,
.sand-track-button:focus {
    background-color: #13E8F5;
}

.content {
    padding: 20px;
}
/* Header Text */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0px;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* Logo */

.main-logo {
    display: flex;
    justify-content: center;
    width: 248px;
    height: 230px;
    text-align: center;
}
.main-logo a{
    display: flex;
    justify-content: center;
    width: 309px;
    padding: 0px 30px; 
}

.main-menu-link-swg {
    
}
.

/* Left-Menu */

.main-menu {
    font-weight: 700;
    font-size: 5px 0px;
    color: var(--basic-color);
}
.left-menu {
    margin: 20px;
    padding: 13px 0px 0px 0px;
    list-style-type: none;
}

.main-banner-head {
    padding: 0px;
    margin: 0px;
}

.left-menu ul {
    margin: 25px 0px;
    height: 378px;
}

.left-menu li {
    width: 309px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    text-transform: none;
    text-transform: uppercase;
}

.left-menu li:hover,
.left-menu li:focus {
    font-size: 22px;
    color: var(--basic-yellow);
}

.left-menu li:nth-child(6n) {
    padding-bottom: 33px;
}

.left-menu li:last-child {
    padding-bottom: 10px;
}

/* Social-Web */

.social-links {
    display: flex;
    justify-content: center;
    width: 309px;
    height: 33px;
    text-align: center;
    display: inline-block;
    justify-content: center;
}

.vk-icon {
    width: 44px;
    height: 23px;
}
.social-links-icon {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.social-links-icon li {
    display: inline-block;
    justify-content: center;
    vertical-align: center;
    padding: 0px 5px;
}

.social-icon a:hover svg {
    fill: #FF3055;
}
.specification-button {
    width: 120px;
}


/* Main Content */

.main-container {
    display: inline-block;
    margin-left: auto;
    outline: 5px solid #ff0000;
    outline-offset: 5px;
    width: 1088px;
    grid-template-columns: 3fr;
}
/* Header Banner */

.main-banner-head {
    ;
}
.main-banner {
    background-image: url(img/mein-banner.jpg);
    border-radius: 10px;
}

/* Footer Copyright */

.copyright {
    color: var(--basic-color);
    height: 80px;
    width: 349px;
    vertical-align: middle;
}

.copyright a {
    padding-left: 4px;
    color:var(--basic-color);
 }

.copyright a:hover,
.copyright a:focus {
    font-weight: 700;
    color: #0AFFAA;
}

.copyright p {
    display: flex;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
 }
